.demo {
	width: 920px;
	margin: 20px auto 0;
}
.main_promo {
	border: 5px solid #3d3d3d;
	border-radius: 7px;
	box-shadow: 0 8px 16px rgba(0,0,0,.2);
	background-color: #1c1c1c;
}
.main_promo li {
	position: relative;
	float: left;
	padding: 5px 0 5px 6px;
	overflow: hidden;
}
.main_promo div {
	float: left;
}

.slide a {
	position: relative;
	z-index: 1;
	display: block;
	outline:none;
	width: 45px;
	height: 300px;
	border-radius: 5px;
	background-color: #303030;
	transition: all 0.3s ease-in;
}
.slide p {
	position: absolute;
	top: 30px;
	left: -25px;
	color: #ddd;
	height:20px;
	width: 100px;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
	word-break:break-all;
	transform: rotate(-90deg);
}

.fgh {
    transform: rotate(-90deg);
}

.slide strong {
	font-size: 30px;
	color: #191919;
	text-shadow: 0 1px 0 #454545;
	position: absolute;
	bottom: 15px;
	left: 15px;
}
.slide_img {
	overflow: hidden;
	width: 0;
	height: 0;
  transition: width 0.5s ease-in-out;
}
.slide_img img {
	width:  692px;
	height: 300px;
}
input[type="radio"] {
	position: absolute;
	left: 5px;
	z-index: 99;
	width: 50px;
	height: 300px;
	opacity: 0;
	cursor: pointer;
}
input:checked ~ .slide a {
	text-decoration: none;
	background:radial-gradient(circle,#434343,#303030);
}
input:checked ~ .slide_img {
	overflow: visible; 
	width:692px; 
	height:300px;	
	margin-left: 8px;
}
ul,li,ol{
    margin: 0;
	padding:0;
	list-style: none outside none;
}

.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{
	clear:both;
	overflow:hidden;
}
