@media screen and (min-width: 768px) and (max-width:1023px){
    .fin, .contenedor {
    width: 85%;
    }
    .images, .header {
    height: 100px;
    }
    
    .footer, #Estatico, #nav, .imagen, .contenido4 {
    display: none;
    }

    .contenido1{
    width: 99%;
    height: 325px;
    }

    .contenido4 {
    height: 210px;
    }

    .slider {
    width: 270px;
    float: right;
    margin-top: -335px;
    }

    .Descripcion {
    width: 288px;
    margin-top: 5px;
    float: none;
    }

    #Estatico3 {
    float: right;
    margin-top: -190px;
    width: 195px;
    }

    #Estatico2 {
    width: 240px;
    }

    #anuncio {
    width: 275px;
    float: none;
    height: 250px;
    }

    .contenido3 {
    height: 290px;
    }

    #anuncio2 {
    width: 260px;
    float: right;
    margin-top: -285px;
    height: 250px;
    }

    .content {
    width: 90%;
    }

    .imagenes {
    display: block;
    width: 100%;
    height: 85px;
    }

    .demo {width: 100%;}

    .slide a {
	width: 43px;
	height: 200px;
    }

    .slide_img img {
	width:  105%;
	height: 200px;
    }

    input[type="radio"] {width: 50px;height: 200px;}

    input:checked ~ .slide_img {
	width:400px ;
	height:200px;	
    }

    .mini_slider {
    height: 250px;
    }

    
}