@media screen and (min-width: 768px) and (max-width:1023px){
    .slider {
    width: 300px;
    float: right;
    height: 220px;
    margin-top: -280px;
    }

    .contenido11{
    width: 99%;
    height: 275px;
    }

    .Descripcion {
    width: 258px;
    margin-top: 5px;
    float: none;
    height: 220px;
    }

    .footer {
    display: block;
    }
}