@media screen and (min-width: 640px) and (max-width:767px) {
    .slider {
    width: 160px;
    float: right;
    height: 215px;
    margin-top: -275px;
    }

    .contenido11{
    width: 99%;
    height: 275px;
    }

    .Descripcion {
    width: 278px;
    margin-top: 5px;
    float: none;
    height: 215px;
    }

    .footer {
    display: block;
    }
}